@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.inner{
	max-width: 1170px;
	margin: 0 auto;
    width: 100%;
    @media (max-width: 1200px){
        padding-left: 15px;
        padding-right: 15px;
    }
}

.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	height: 100px;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	display: flex;
	.header__logo{
		width: 19.5%;
		display: flex;	
		flex-direction: row;
		justify-content: center;
		align-items: center;
		transition: all .2s ease;
		svg{
			max-width: 95%;
			margin: 0 auto;
		}
		a{
			text-align: center;
		}
	}
	.header__logo.scroll{
		background-color: #002c3d;
	}
	.mnu__container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: #002c3d;
		padding: 0 30px;
		width: 80.5%;
		position: relative;
	}
	.menu{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		max-width: 991px;
		width: 100%;
		height: 100%;
	}
	.menu__list{
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
	.mnu-link{
		&:hover{
			.dropdown__mnu{
				z-index: 10;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.dropdown__mnu{
		position: absolute;
		width: 100%;
		top: 100%;
		margin: 0;
		padding: 0;
		left: 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: stretch;
		flex-wrap: wrap;
		padding: 10px;
		background-color: rgba(0,44,61, .9);
		transition: all .5s ease;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		li{
			list-style-type: none;
			width: 280px;
			height: 100px;
			border: 1px solid #1a3644;
			background-color: #001f2f;
			display: flex;
			align-items: stretch;		
			margin-right: 12px;
			margin-bottom: 12px;
		}
	}
	.mnu-link{
		display: flex;
		align-items: stretch;
	}
	.menu__link{
		color: #ffffff;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-transform: uppercase;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.drop-link{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-left: 10px;
		color: #ffffff;
		font-size: 18px;
		font-weight: 400;
		line-height: 20px;
		text-decoration: none;
		width: 100%;
	}
	.mnu__col{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.mnu__contact{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-right: 10px;
	}
	.contact__phone{
		color: #ffffff;
		font-size: 24px;
		font-weight: 700;
		text-decoration: none;
		line-height: 28px;
		span{
			color: #365360;
		}
	}
	.contact__email{
		color: #40c4f4;
		font-size: 14px;
		font-weight: 400;
		text-decoration: underline;
		text-transform: uppercase;
	}
	.contact__feedback{
		width: 170px;
		height: 50px;
		border: 1px solid #365360;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #b3d833;
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
		text-transform: uppercase;
		text-decoration: none;
	}
	.hamburger{
		display: none;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		border: 0;
		outline: none;
		cursor: pointer;
		width: 50px;
		height: 50px;
		border: 1px solid #365360;
		border-radius: 50%;
		transition: all .3s ease;
		padding-bottom: 3px;
		&:hover{
			background-color: #b3d833;
			border: 1px solid #b3d833;
			.hamburger-first{
				background-color: #002c3d;
			}
			.hamburger-second{
				background-color: #002c3d;
			}
			.hamburger-third{
				background-color: #002c3d;
			}
		}
	}
	.hamburger.is-active{
		.hamburger-inner{
			.hamburger-first{
				opacity: 0;
				visibility: hidden;
			}
			.hamburger-second{
				transform: rotate(45deg);
				top: 45%;
			}
			.hamburger-third{
				transform: rotate(-45deg);
				width: 100%;
				top: 45%;
			}
		}
	}
	.hamburger-inner{
		width: 24px;
		height: 14px;
		position: relative;
	}
	.hamburger-first{
		width: 100%;
		height: 2px;
		background-color: #b3d833;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		transition: all 0.3s ease-in-out;
	}
	.hamburger-second{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #b3d833;
		transition: all 0.3s ease-in-out;
	}
	.hamburger-third{
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #b3d833;
		transition: all 0.3s ease-in-out;
	}
	@media (max-width: 1800px) {
		.header__logo{
			width: 13%;
		}
		.mnu__container{
			width: 87%;
		}
		.menu{
		}
	}
	@media (max-width: 1650px){
		.menu{
			max-width: 100%;
			width: 70%;
		}
		.contact__phone{
			font-size: 18px;
		}
		.contact__email{
			font-size: 12px;
		}
		.mnu__contact{
			width: 170px;
			padding-right: 5px;
		}
	}
	@media (max-width: 1400px){
		.menu__link{
			font-size: 12px;
		}
		.header__logo{
			svg{
				width: 90%;
				margin: 0 auto;
				display: block;
			}
		}
		.mnu__container{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	@media (max-width: 1300px){
		height: 120px;
		.mnu__container{
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.mnu__contact{
			margin-bottom: 5px;
		}
		.menu{
			width: 80%;
			padding-top: 15px;
		}
		.mnu__col{
			flex-direction: column;
		}
	}
	@media (max-width: 1070px) {
		height: 100px;
		.mnu__container{
			justify-content: space-between;
			flex-direction: row;
			position: relative;
			width: 75%;
		}
		.header__logo{
			width: 25%;
		}
		.hamburger{
			display: flex;
		}
		.menu__list{
			flex-direction: column;
		}
		.mnu-link{
			width: 30%;
		}
		.menu{
			position: absolute;
			top: 100px;
			height: auto;
			flex-direction: column;
			transform: translateX(110%);
			align-items: flex-start;
			z-index: 100;
			background-color: rgba(0,44,61, .9);
			left: 0;
			padding: 20px 9px;
			width: 100%;
			transition: all .3s ease;
		}
		.menu.is-active{
			transform: translateX(0);
		}
		.dropdown__mnu{
			width: 68%;
			top: 0;
			right: 0;
			left: auto;
			flex-direction: column;
			background-color: rgba(0,31,47, .9);
			height: 100%;
			li{
				width: auto;
				height: auto;
				border: 0;
				background-color: transparent;
			}
		}
		.drop-link{
			color: #ffffff;
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
			img{
				display: none;
			}
		}
		.mnu-link{
			&:hover{
				.dropdown__mnu{
					z-index: 10;
					opacity: 1;
					visibility: visible;
				}
				.menu__link{
					color: #40c4f4;
					&:after{
						content: '-';
					}
				}
			}
		}
		.menu__link{
			margin-bottom: 20px;
			width: 100%;
			position: relative;
			display: block;
			transition: all .3s ease;
			&:after{
				content: '+';
				position: absolute;
				top: 0;
				right: 0;
				color: #ffffff;
				width: 7px;
				height: 7px;
				transition: all .3s ease;
			}
			&:last-child{
				margin-bottom: 0;
				&:after{
					display: none;
				}
			}
		}
		.mnu__col{
			flex-direction: row;
		}
	}
	@media (max-width: 600px) {
		height: 105px;
		.header__logo{
			background-color: #002c3d;
			width: 50%;
			padding-left: 15px;
			padding-top: 5px;
			justify-content: flex-start;
			align-items: flex-start;
			svg{
				width: 140px;
				height: 39px;
			}
		}
		.hamburger{
			position: absolute;
			left: -95%;
			bottom: 5px;
		}
		.menu{
			padding-left: 15px;
			max-width: 1000%;
			width: 200%;
		}
		.menu.is-active{
			transform: translateX(-50%);
		}
		.mnu-link{
			width: 50%;
		}
		.dropdown__mnu{
			width: 47%;
		}
		.mnu__col{
			flex-direction: column;
			align-items: flex-end;
		}
		.mnu__container{
			width: 50%;
			padding-left: 15px;
			padding-right: 15px;
			justify-content: flex-end;
		}
		.mnu__contact{
			margin-right: 0;
			padding-right: 0;
		}
		.contact__phone{
			font-size: 12px;
			line-height: 16px;
		}
		.contact__email{
			font-size: 10px;
			line-height: 14px;
		}
		.contact__feedback{
			width: 130px;
			height: 35px;
			font-size: 10px;
			line-height: 14px;
		}
	}
}

.site__title{
    color: #001f2f;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-left: 32px;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 16px;
        background-image: url(../img/title.png);
    }
    @media (max-width: 600px) {
        font-size: 30px;
        line-height: 40px;
    }
}

footer{
	padding: 30px;
	padding-top: 60px;
	border-top: 10px solid #f2f4f9;
	.footer__list{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.f__text{
		display: block;
		text-align: center;
		color: #b0abb3;
		font-size: 15px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 5px;
	}
	.to__top{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 1px solid #b0abb3;
		background-color: transparent;
		margin: 0 auto;
		cursor: pointer;
		transition: all .2s ease;
		svg{
			transition: all .2s ease;
		}
		&:hover{
			border: 1px solid #40c4f4;
			background-color: #40c4f4;
			svg{
				fill: #fff;
			}
		}
	}
	.f__menu{
		margin-bottom: 30px;
	}
	.f__mnu{
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.f__menu-link{
			list-style-type: none;
			margin: 0 5px;
			position: relative;
			ul{
				margin: 0;
				padding: 30px;
				position: absolute;
				box-shadow: 0 10px 20px #e1e5e7;
				border: 1px solid #e1e5e7;
				background-color: #ffffff;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				min-width: 270px;
				bottom: 35px;
				left: 50%;
				transform: translateX(-50%);
				opacity: 0;
				visibility: hidden;
				z-index: -1;
				transition: all .2s ease;
				&:after{
					content: '';
					position: absolute;
					bottom: -14px;
					left: 50%;
					transform: translateX(-50%);
					width: 0;
					height: 0;
					border-left: 15px solid transparent;
					border-right: 15px solid transparent;
					border-top: 15px solid #fff;
				}
				li{
					list-style-type: none;
					a{
						color: #6b6f7a;
						font-size: 15px;
						font-weight: 400;
						text-decoration: none;
						display: block;
						position: relative;
						transition: all .2s ease;
						&:before{
							content: '';
							position: absolute;
							width: 20px;
							height: 3px;
							background-color: #40c4f4;
							left: 0;
							top: 12px;
							opacity: 0;
							visibility: hidden;
							transition: all .2s ease;
						}
						&:hover{
							padding-left: 30px;
							color: #001f2f;
							&:before{
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
			&:hover{
				ul{
					opacity: 1;
					z-index: 100;
					visibility: visible;
				}
			}
		}
	}
	.f__top-link{
		color: #3d4753;
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
		text-transform: uppercase;
		position: relative;
		text-decoration: none;
		position: relative;
		transition: all .2s ease;
		&:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #40c4f4;
			left: 0;
			bottom: -10px;
			opacity: 0;
			visibility: hidden;
			transition: all .2s ease;
		}
		&:hover{
			text-decoration: none;
			color: #40c4f4;
		}
	}
	.f__menu-link.current{
		.f__top-link{
			&:after{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.f__contact{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.phone{
		color: #3d4753;
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		text-decoration: none;
		&:hover{
			text-decoration: none;
			color: #3d4753;
		}
	}
	.email{
		color: #40c4f4;
		font-size: 14px;
		font-weight: 400;
		text-decoration: underline;
		text-transform: uppercase;
		&:hover{
			color: #40c4f4;
		}
	}
	@media (max-width: 1250px) {
		.footer__list{
			flex-wrap: wrap;
			flex-direction: row;
		}
		.f__center{
			width: 100%;
			order: 3;
			margin-top: 30px;
		}
		.f__logo{
			order: 1;
			width: 50%;
		}
		.f__contact{
			order: 2;
			width: 50%;
		}
	}
	@media (max-width: 800px){
		.f__menu{
			.f__mnu{
				flex-wrap: wrap;
				justify-content: center;
			}
			.f__menu-link{
				width: 50%;
				text-align: center;
				margin-bottom: 15px;
				display: block;	
				ul{
					position: static;
					opacity: 0;
					visibility: hidden;
					overflow: hidden;
					height: 0;
					transform: none;
					box-shadow: none;
					min-width: auto;
					width: 100%;
					transition: all .2s ease;
					padding: 0;
					&:after{
						display: none;
					}
					li{
						text-align: center;
					}
				}
				&:hover{
					ul{
						opacity: 1;
						height: 100%;
						visibility: visible;
						margin-top: 10px;
						padding: 15px;
					}
				}
			}
		}
	}
	@media (max-width: 600px){
		padding-top: 40px;
		.f__logo{
			width: 100%;
			text-align: center;
		}
		.f__contact{
			width: 100%;
			align-items: center;
		}
		.f__mnu{
			.f__menu-link{
				width: 70%;
			}
		}
	}
	@media (max-width: 400px){
		.f__mnu{
			.f__menu-link{
				width: 100%;
			}
		}
	}
}